# Operating System Files
.DS_Store
Thumbs.db

# WordPress
wp-config.php
wp-content/uploads/
wp-content/debug.log

# Dependency Directories
vendor/
node_modules/

# Editor/IDE
.idea/
.vscode/
*.sublime-workspace

# Build & Dist
dist/
*.zip